/* I really tried to replicate the feeling of those random simulators and quizzes you would find online. */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('successfulhires.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Image sourced/taken from https://www.iqumulate.com/careers/ */
/* The background was originally white but I thought that that was too plain and then thought it would be funny to insert a collage of faces staring at the user in the background. The reasoning is that these are all the previous successful hires who got hired through the simulator and so you're 'staring in the face of success'. It was also 4 A.M. when I made this decision and I had work in 5 hours so that may have influenced what I was doing. */

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8ab9ee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question {
    font-weight: bold;
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #1c242c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #144c8c;
}

#imageContainer {
    margin-top: 20px;
}

#imageContainer img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* The colour choices were made when I looked up corporate colours on Google. The colours that showed up the mosr were white, blue and navy. */
/* I thought using corporate colours was a good idea since this is technically a simulator for job interviews. */